on:
  push:
    branches:
      - main
name: Release container server
jobs:
  build_and_release:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.x
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build
        run: |
          mkdir bin
          go build -ldflags="-s -w" -o bin/container-server
          zip -j container-server.zip bin/container-server
      - name: Upload release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: container-server.zip
          asset_name: container-server.zip
          tag: latest
          overwrite: true